html {
  box-sizing: border-box;
  // background-color: blue;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
.test {
  color: aqua;
}
.box {
  display: flex;
  transition: all 0.3s;
}
